<!-- <ngx-spinner
bdColor="rgba(255, 255, 255, 0)"
template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"
>
</ngx-spinner> -->
<ngx-spinner>
  <div style="color: #f68f6f" class="la-ball-spin-fade-rotating la-3x">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ngx-spinner>


<app-nav></app-nav>

<div class="container" style="margin-top: 100px;">
    <router-outlet></router-outlet>
</div>

